  <table>
    <tr>
        <td><b>username</b></td> 
        <td> <%= reply.membername%></td> 

    </tr>
    <tr>   
        <td><b>password</b></td> 
        <td> <%=  reply.password%></td> 
        
    </tr>   
    <tr>   
        <td><b>content</h3></b>  
       <td>  <%=  reply.inpost%></td> 
    
    </tr>
  </table>
